@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Neucha&family=Secular+One&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Comic Neue', cursive;
	font-size: 18px;
	margin: 0px;
}
h1 {
	font-family: 'Secular One', sans-serif;
	font-size: 45px;
	font-weight: bold;
}
h2,h3 {
	font-family: 'Secular One', sans-serif;
	font-size: 30px;
}

a {
	text-decoration: none;
}

